<!--

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <img src="https://www.ddaily.co.kr/photos/2023/03/09/2023030918033957037_l.jpg" alt="">
    <a href="/" id="backgoundTitle"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span id="titleHeader" class="fs-4" style="color: white; text-align: center;">SPACE RAIDERS</span>
    </a>

    <ul id="menuheader" class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link" style="color: #051039;">NEWS</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #051039;">DATA</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #051039;">PRICE</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #051039;">FAQ</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #051039;">DESTINATION</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #051039;">CONTACT</a></li>
        <li class="nav-item"><a href="#" class="nav-link" style="color: #051039;">NEWSLETTER</a></li>
    </ul>

-->

    <!-- <div id="dropdown" class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle"
            style="background-color: #051039; width: 70px; height: 70px; width: 150px; border-radius: 10px;"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div> -->

<!--

    <div id="dropdown" class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle"
            style="background-color: #051039; width: 70px; height: 70px; width: 150px; border-radius: 10px;"
            data-bs-toggle="dropdown" aria-expanded="false">
            MENU
        </button>
        <ul class="dropdown-menu">
            <a class="dropdown-item" href="#">NEWS</a>
            <a class="dropdown-item" href="#">DATA</a>
            <a class="dropdown-item" href="#">PRICE</a>
            <a class="dropdown-item" href="#">FAQ</a>
            <a class="dropdown-item" href="#">DESTINATION</a>
            <a class="dropdown-item" href="#">CONTACT</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">NEWSLETTER</a>
        </ul>
    </div>

</header>

-->

<!-- Start Hero -->
<section class="bg-half-360 pb-5 d-table w-100" style="background: url('images/bg.jpg');" id="home">
    <div class="bg-video-wrapper">
        <!--<iframe src="https://player.vimeo.com/video/543682481?background=1&autoplay=1&loop=1&byline=0&title=0"></iframe>-->
        <iframe src="https://player.vimeo.com/video/230574607?background=1&autoplay=1&loop=1&byline=0&title=0"></iframe>

        <!--Note: Vimeo Embed Background Video-->

        <!-- <iframe src="https://www.youtube.com/embed/yba7hPeTSjk?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1"></iframe> -->
        <!--Note: Youtube Embed Background Video-->
    </div>
    <div class="bg-overlay bg-black opacity-9"></div>
    <div class="container mb-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <!-- <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="play-btn  mb-5 lightbox border bg-white shadow-lg">
                        <i data-feather="play" class="fea icon-ex-md text-primary"></i>
                    </a> -->

                    <h4 class="heading text-white mb-4">Achetez votre billet dès aujourd'hui !</h4>
                    <p class="text-white-50 para-desc mx-auto mb-0">Nous nous réjouissons de votre visite. Ne tardez pas, venez explorer tous les sites historiques atténués, pour que vos rêves spatiaux deviennent réalité.</p>

                    <div class="mt-4 pt-2">
                        <a href="" class="btn btn-primary btn-pills border-0">Découvrir maintenant</a>
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End Hero -->
