<!-- FOOTER FRANCK -->
<footer class="container-fluid">
    <!-- FOOTER 1 MAIN -->
    <section class="footer1 ">
        <div class="row col-md-6 mx-auto">
            <div class="bloc col-md">
                <h5>Customer service</h5>
                <a href="#">Contact us</a>
                <a href="#">Refund</a>
                <a href="#">Claims</a>
            </div>
            <div class="bloc col-md">
                <h5>Everything about buying online</h5>
                <a href="#">Service charges and means of payment</a>
                <a href="#">Space Raiders Shopping</a>
                <a href="#">SPACE RAIDERS Card - American Express</a>
                <a href="#">Why book your ticket on the official Space Raiders website</a>
            </div>
            <div class="bloc col-md">
                <h5>Our partners</h5>
                <a href="#">Space X</a>
                <a href="#">Blue Origin</a>
                <a href="#">Virgin Galactic</a>
                <a href="#">Nasa</a>
                <a href="#">Esa</a>
            </div>
            <div class="bloc col-md">
                <h5>Flight from</h5>
                <a href="#">Cap Canaveral</a>
                <a href="#">Kourou</a>
                <a href="#">Satish-Dhawan</a>
                <a href="#">Wenchang</a>
            </div>
        </div>
    </section> 
    
    <!-- FOOTER 2 SECONDARY" -->
    <section class="p-3 footer2">
            <div class="d-flex row col-md-6 mx-auto">
                <a class="col-md" href="#">Informations légales</a>
                <a class="col-md" href="#">Politique de confidentialité</a>
                <a class="col-md" href="#">Gestion des cookies</a>
            </div>
    </section>

</footer>