* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h5 {
    color: azure;
    font-weight: 600;
    margin: 10px 10px;
}

// FOOTER 1
.footer1 {
    // border: 1px solid red;
    background-color: #051039;
    padding: 20px 0px;
}
.bloc {
    // border: 1px solid red;
    width: auto;
    margin: 0px 0px;
    padding: 10px 0px;
}
.bloc a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: block;
    margin: 10px 10px;
}
.bloc a:hover {
    text-decoration:underline;
}

// FOOTER 2
.footer2 {
    background-color: #f8f9f9;
    text-align: center;
}
.footer2 a {
    text-decoration: none;
    color: #051039;   
}
.footer2 a:hover {
    text-decoration: underline;  
}