* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h5 {
    color: azure;
    margin-bottom: 10px;
}

footer {
    background-color:#f8f9f9;
    // position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer1 {
    background-color: #051039;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    padding-bottom: 50px;
}

.bloc {
    width: 200px;
    height: 200px; 
    margin: 30px 20px;
}

.bloc a {
    color: white;
    font-size: 14px;
    margin: 5px 0px;
}

.bloc a:hover {
    text-decoration:underline;
}

.footer2 {
    background-color: #f8f9f9;
    flex-grow: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;   
}