<!-- <div id="heroImg">


    <h1 class="display-5 fw-bold text-white">Your space journey starts here</h1>
    <div id="buttonHero">
        <button id="buttonHero" type="button" class="btn btn-light display-5 fw-bold">TAKE FLIGHT</button>
    </div>




</div> -->

<!--

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/hero.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h1>Your space journey starts here</h1>
                <div class="buttonHero">
                    <button type="button" class="btn btn-light display-5 fw-bold">TAKE FLIGHT</button>
                </div>
                <p>Travel like you never did before</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://c0.wallpaperflare.com/preview/753/722/339/blue-blur-color-dark.jpg" class="d-block w-100"
                alt="...">
            <div class="carousel-caption">
                <h1>... or go into the abyss</h1>
                <div class="buttonHero">
                    <button type="button" class="btn btn-light display-5 fw-bold">IT WILL BE
                        ALRIGHT</button>
                </div>
                <p>SCARED OF SPACE ? NO PROBLEM WE HAVE A SOLUTION FOR YOU</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1473952434042-a59f293c13f5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                class="d-block w-100" alt="...">
            <div class="carousel-caption">
                <h1>Keep contact</h1>
                <div class="buttonHero">
                    <button type="button" class="btn btn-light display-5 fw-bold">JOIN OUR
                        NEWSLETTER</button>
                </div>
                <p>STAY IN TOUCH</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

-->

<!-- START NAVBAR -->
<div id="main">
    <nav id="navbar" class="navbar navbar-expand nav-light fixed-top sticky ">
        <div class="container">
            <a class="navbar-brand" href="">
                <span class="logo-light-mode">
                    <img src="./assets/images/logo-light.png" class="l-light" alt="">
                    <img src="./assets/images/logo-dark.png" class="l-dark" alt="">
                </span>
                <img src="./assets/images/logo-light.png" class="logo-dark-mode" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i data-feather="menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Données</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Prix | FAQ </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Destination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Newsletter</a>
                    </li>
                </ul>

                <div id="burger" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        MENU
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>

                <div id="loginLogo">
                    <ul class="list-inline menu-social mb-0 ps-lg-4 ms-2">
                        <li id="loginicon" class="list-inline-item">
                            <a href="auth-login.html" target="_blank"
                                class="btn btn-icon btn-pills btn-primary border-0"><i data-feather="user"
                                    class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-user icons">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end collapse-->
        </div>
        <!--end container-->
    </nav>
    <!-- END NAVBAR -->

</div>