<div id="main">
    <nav class="navbar navbar-expand nav-light fixed-top sticky ">
        <div class="container">
            <a class="navbar-brand" href="">
                <span class="logo-light-mode">
                    <img src="./assets/images/logo-light.png" class="l-light" alt="">
                    <img src="./assets/images/logo-dark.png" class="l-dark" alt="">
                </span>
                <img src="./assets/images/logo-light.png" class="logo-dark-mode" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i data-feather="menu"></i>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Actualités</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#service">Données</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Tarif</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#price">Destination</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Newsletter</a>
                    </li>
                </ul>


                <div id="burger" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        MENU
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Action</button></li>
                        <li><button class="dropdown-item" type="button">Another action</button></li>
                        <li><button class="dropdown-item" type="button">Something else here</button></li>
                    </ul>
                </div>


                <div id="loginLogo">
                    <ul class="list-inline menu-social mb-0 ps-lg-4 ms-2">
                        <li id="loginicon" class="list-inline-item">
                            <a href="auth-login.html" target="_blank"
                                class="btn btn-icon btn-pills btn-primary border-0"><i data-feather="user"
                                    class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        class="feather feather-user icons">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end collapse-->
        </div>
        <!--end container-->
    </nav>
    <!-- END NAVBAR -->


</div>