* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    // border: 1px solid red;
    padding: 20px 15%;
}

h3 {
    color:#051039;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #051039;
    font-family: Arial, Helvetica, sans-serif;
    // font-size: 18px;
    font-weight: 700;
  }

.search {
    margin: 0 10px;
}

button {
    background-color: #051039;
    color: white;
    border-radius: 5px;
}

// button:hover {
//     background-color: white;
//     color: #051039;
//     text-decoration: underline;
// }

.api-result {
    // width: auto;
    // min-height: 700px;
    min-height: 70vh;
    margin: 0 10px;
    background-image: url("/assets/images/earth.png");
    background-size:cover;
}