main {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "DM Sans", sans-serif;
}

.mohammed_1 {;
  margin-bottom: 100px;
}

.mohammed_2 {;
  margin-bottom: 100px;
}

.franck_1 {;
  margin-bottom: 100px;
}

.franck_2 {
}

.dadou_1 {;
  margin-bottom: 50px;
}

.dadou_2 {;
  margin-bottom: 100px;
}

.dadou_3 {;
  margin-bottom: 100px;
}

.mohammed_3 {;
  margin-bottom: 0;
}

.franck_3 {
}
