<app-images></app-images>

<main>

  <section class="mohammed_1">
    <app-header></app-header>
  </section>

  <section class="mohammed_2">
    <app-hero></app-hero>
  </section>

  <section class="franck_1">
    <app-api></app-api>
  </section>

  <section class="franck_2">
    <app-prix></app-prix>
  </section>

  <section class="content dadou_1" >
    <router-outlet></router-outlet>
    <a [routerLink]="['/']">
      <header class="brand-name">Retour</header>
    </a>
  </section>

  <section class="dadou_3">
    <app-inscription></app-inscription>
  </section>

  <section class="dadou_2">
    <app-bestdestinations></app-bestdestinations>
  </section>

  <section class="mohammed_3">
    <app-newsletter></app-newsletter>
  </section>

  <section class="franck_3">
    <app-footer></app-footer>
  </section>

</main>
