<main>

  <section class="mohammed_1">
    <app-header id="" class=""></app-header>
  </section>

  <section class="mohammed_2">
    <app-hero id="home"></app-hero>
  </section>

  <section class="dadou_2">
    <app-bestdestinations id="destination"></app-bestdestinations>
  </section>

  <section class="franck_1">
    <app-api id="api"></app-api>
  </section>

  <section class="franck_2">
    <app-prix id="tarif"></app-prix>
  </section>

  <section id="nouveauter" class="content dadou_1">
    <router-outlet></router-outlet>
  </section>

  <section class="dadou_3">
    <app-inscription id="inscription"></app-inscription>
  </section>

  <section class="mohammed_3">
    <app-newsletter id="newsletter"></app-newsletter>
  </section>

  <section class="franck_3">
    <app-footer></app-footer>
  </section>

</main>