<div id="main">
    <form>
        <br><br>
        <h1 class="h3 mb-3 fw-normal">STAY IN TOUCH</h1><br><br>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">NAME</label>
        </div><br><br>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">EMAIL</label><br><br>
        </div>
        <button type="submit" class="btn btn-light display-5 fw-bold">JOIN OUR NEWSLETTER</button>
    </form>
</div>