
<!-- SECTION 3 PRIX -->
<!-- 02/06 FRANCK -->
<section class="container-fluid mb-4 px-5" >

    <h3 class="mx-4 p-4">Discover our offers from: </h3>

    <!-- <div class="container-fluid row">
        <div class="bloc row ms-4 p-4 col-md-9">
            <div class="cell col-md-3 mx-2 py-2"> <strong>Cap Canaveral</strong>(USA)</div>
            <div class="cell col-md-3 mx-2 py-2">from $3.5 million</div>
            <div class="cell col-md-3 mx-2 py-2">
                <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
                Round trip Earth-Moon</div>
        </div>
        <div  class="bloc col me-4">
            <img style="width:10%" class="" src="../../assets/images/circle-info-solid.svg" alt="icon info">
        </div>
    </div> -->

    <div class="bloc row mx-5 p-4 test">
        <div class="cell col-md-3 mx-2 py-2"> <strong>Cap Canaveral</strong> (USA)</div>
        <div class="cell col-md-3 mx-2 py-2">from $3.5 million</div>
        <div class="cell col-md-3 mx-2 py-2">
            <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
            Round trip Earth-Moon</div>
        <img class="line" src="../../assets/images/circle-info-solid.svg" alt="icon info">
    </div>

    <div class="bloc row mx-5 p-4 test">
        <div class="cell col-md-3 mx-2 py-2"> <strong>Kourou</strong> (France)</div>
        <div class="cell col-md-3 mx-2 py-2">From $2.5 million*</div>
        <div class="cell col-md-3 mx-2 py-2">
            <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
            Round trip Earth-Moon</div>
        <img class="line" src="../../assets/images/circle-info-solid.svg" alt="icon info">
    </div>

    <div class="bloc row mx-5 p-4 test">
        <div class="cell col-md-3 mx-2 py-2"> <strong>Satish-Dhawan</strong> (Inde)</div>
        <div class="cell col-md-3 mx-2 py-2">From $1.5 million*</div>
        <div class="cell col-md-3 mx-2 py-2"> 
            <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
            Round trip Earth-Space Station</div>
        <img class="line" src="../../assets/images/circle-info-solid.svg" alt="icon info">
    </div>

    <div class="bloc row mb-2 mx-5 p-4 test">
        <div class="cell col-md-3 mx-2 py-2"> <strong>Wenchang</strong> (China)</div>
        <div class="cell col-md-3 mx-2 py-2">From $5.5 million*</div>
        <div class="cell col-md-3 mx-2 py-2">
            <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
            Round trip Earth-Mars
        </div>
        <img class="line" src="../../assets/images/circle-info-solid.svg" alt="icon info">
    </div>

    <p class="mx-4 p-4">*All amounts are in EUR. Taxes, surcharges and booking fees are included. The prices displayed may vary depending on the availability of the rate. The rate is guaranteed as soon as you get the reference of your reservation.</p>

    <div class="mx-4">
        <button class="mx-4 p-2">
            <a href="#">All our offers</a>
        </button>
    </div>

</section>
