
<!-- SECTION 3 PRIX -->
<section class="price container-fluid mb-4" >

    <h3 class="mx-5">Découvrez nos offres au départ de :  
        <select id="sport">  
            <option value="tennis">Kourou (Europe)</option> 
            <option value="football">Cap Canaveral (USA)</option> 
            <option value="handball">Satish-Dhawan (Inde)</option> 
            <option value="roller">Wenchang (Chine)</option> 

        </select> 
    </h3>

    <!-- <div class="container-fluid row">
        <div class="bloc row ms-4 p-4 col-md-9">
            <div class="cell col-md-3 mx-2 py-2"> <strong>Cap Canaveral</strong>(USA)</div>
            <div class="cell col-md-3 mx-2 py-2">from $3.5 million</div>
            <div class="cell col-md-3 mx-2 py-2">
                <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
                Round trip Earth-Moon</div>
        </div>
        <div  class="bloc col me-4">
            <img style="width:10%" class="" src="../../assets/images/circle-info-solid.svg" alt="icon info">
        </div>
    </div> -->

    <div class="bloc row mx-5 py-4 bgGrey">
        <div class="cell col-md-3 py-2"> <strong>Artemis 3</strong> <br> (Base lunaire américaine)</div>
        <div class="cell col-md-3 mx-2 py-2">A partir de 3.5 million EUR*</div>
        <div class="cell col-md-3 mx-2 py-2 d-flex justify-content-between align-items-start">
            <div class="d-flex">
                <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
                <p>
                    Aller-retour
                </p>
            </div>
            <div>
                <img class="" src="../../assets/images/circle-info-solid.svg" alt="icon info">
            </div>
        </div>
    </div>

    <div class="bloc row mx-5 py-4 bgGrey">
        <div class="cell col-md-3 py-2"> <strong> Longue Marche 9</strong> <br> (Base lunaire chinoise)</div>
        <div class="cell col-md-3 mx-2 py-2">A partir de 2.5 million EUR*</div>
        <div class="cell col-md-3 mx-2 py-2 d-flex justify-content-between align-items-start">
            <div class="d-flex">
                <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
                <p>
                    Aller-retour
                </p>
            </div>
            <div>
                <img class="" src="../../assets/images/circle-info-solid.svg" alt="icon info">
            </div>
        </div>
    </div>

    <div class="bloc row mx-5 py-4 bgGrey">
        <div class="cell col-md-3 py-2"> <strong>Station Spaciale ISS</strong> </div>
        <div class="cell col-md-3 mx-2 py-2">A partir de 1.5 million EUR*</div>
        <div class="cell col-md-3 mx-2 py-2 d-flex justify-content-between align-items-start">
            <div class="d-flex">
                <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
                <p>
                    Aller-retour
                </p>
            </div>
            <div>
                <img class="" src="../../assets/images/circle-info-solid.svg" alt="icon info">
            </div>
        </div>
    </div>

    <div class="bloc row mb-2 mx-5 py-4 bgGrey">
        <div class="cell col-md-3 py-2"> <strong>Mars !</strong></div>
        <div class="cell col-md-3 mx-2 py-2">A partir de 5.5 million EUR*</div>
        <div class="cell col-md-3 mx-2 py-2 d-flex justify-content-between align-items-start">
            <div class="d-flex">
                <img class="cell-icon" src="../../assets/images/arrow-right-arrow-left-solid.svg" alt="icon round trip">
                <p>
                    Aller-retour
                </p>
            </div>
            <div>
                <img class="" src="../../assets/images/circle-info-solid.svg" alt="icon info">
            </div>
        </div>
    </div>

    <p class="mx-4 p-4">*Tous les montants sont en EUR. Les taxes, surcharges et frais de réservation sont compris. Les prix affichés peuvent varier en fonction de la disponibilité du tarif. Le tarif est garanti dès que vous obtenez la référence de votre réservation.</p>

    <div class="mx-4">
        <button class="mx-4 p-2">
            <a href="#">Toutes nos offres</a>
        </button>
    </div>

</section>
