.listing {
  background: #051039;
  border-radius: 30px;
  padding-bottom: 30px;
  color: #f8f9f9;
}
.listing-heading {
  color: #f8f9f9;
  padding: 10px 20px 0 20px;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}
.listing-location::before {
  content: url("/assets/images/Share_20.png") / "";
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: lightgray;
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}
