<article>

  <h2 class="title">Renseignez-vous sur nos destinations</h2>

  <img class="listing-photo" [src]="lieuDAtterrissage?.photo" alt="lieu spatial historique {{ lieuDAtterrissage?.name }}"/>

  <section class="listing-description">
    <h2 class="listing-heading">{{ lieuDAtterrissage?.name }}</h2>
    <p class="listing-location"> ➲ {{ lieuDAtterrissage?.city }}, {{ lieuDAtterrissage?.state }}</p>
  </section>

  <section class="listing-features">
    <h2 class="section-heading">Explorer les sites lunaires historiques </h2>
    <ul>
      <li><b>La distance entre la terre et lune : </b>Distance variante entre la Terre et la Lune ◐ {{ lieuDAtterrissage?.availableUnits }} <b>km.</b> </li>
      <li><b>Durée du séjour lunaire : </b> Selon la catégorie de billet. Ce voyage revient à ◐ {{ lieuDAtterrissage?.wifi }} <b>€.</b></li>
      <li><b>Classes : </b> ◐ {{ lieuDAtterrissage?.laundry }}.</li>
    </ul>
  </section>

  <section class="listing-apply">
    <h2 class="section-heading">Contactez-nous pour en savoir plus</h2>

    <form [formGroup]="applyForm" (submit)="submitApplication()">

      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input id="nom" type="text" formControlName="nom" class="input-field" placeholder="nom et prénom">
      </div>

      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input id="prenom" type="text" formControlName="email" class="input-field" placeholder="adresse mail">
      </div>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input id="email" type="password" formControlName="psw" class="input-field" placeholder="mot de passe">
      </div>

      <button type="submit" class="btn">Envoyez-nous</button>
    </form>
  </section>
</article>
